.navbar-card {
  margin-top:20px;
  margin-bottom: 20px;
}
.pl-header-logo {
  padding-top:30px;
  padding-bottom:30px;
  width: 100px; 
  height: auto; 
}

.toolbar {
  background-color: #37003c;
  color: white;
  height: 75px;
}

.toolbar-title {
  font-size: 20px;
  font-weight: bold;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.nav-button {
  color: white;
}

.menu-btns {
  background-color: #3f51b5;
}

.burger-menu {
  display: none;
}

@media (max-width: 600px) {
  .burger-menu {
    display: block;
  }
}
