.navbar-card {
  margin-top:20px;
  margin-bottom: 20px;
}
.pl-header-logo {
  padding-top:30px;
  padding-bottom:30px;
  width: 100px; 
  height: auto; 
}

.toolbar {
  background-color: #37003c;
  color: white;
  height: 75px;
}

.toolbar-title {
  font-size: 20px;
  font-weight: bold;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.nav-button {
  color: white;
}

.menu-btns {
  background-color: #3f51b5;
}

.burger-menu {
  display: none;
}



@media (max-width: 768px) {
  .navbar-card {
    margin: 10px;
  }

  .pl-header-logo {
    width: 80px;
    padding: 20px 0;
  }

  .toolbar-title {
    font-size: 18px;
  }

  .footerCorporate .wrapper {
    padding: 0 10px;
  }

  .footerCorporate__logo {
    width: 100px;
  }
}

/* Adjustments for even smaller screens */
@media (max-width: 576px) {
  .pl-header-logo {
    width: 60px;
    padding: 15px 0;
  }

  .toolbar-title {
    font-size: 16px;
  }

  .footerCorporate__logo {
    width: 80px;
  }
}
