<div class="linkbtns">
  <a mat-raised-button routerLink="/teams/form">
    <mat-icon>add</mat-icon>
    Add Team
  </a>
  <a mat-raised-button routerLink="/home">
    <mat-icon>arrow_back</mat-icon>
    back
  </a>
</div>

<div class="container responsive-grid">
    <div *ngFor='let t of teams$ | async; let i = index'>
      <mat-card class="team-card">
        <mat-card-header>
          <mat-card-title>{{ t.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="team-info">
            <div><strong>Venue:</strong> {{ t.venue }}</div>
            <div><strong>Venue Capacity:</strong> {{ t.venueCapacity }}</div>
            <div><strong>League:</strong> {{ t.league }}</div>
            <div><strong>Kit Colour:</strong> {{ t.kitColour }}</div>
            <div><strong>Manager:</strong> {{ t.manager }}</div>
          </div>
          <a mat-button color="primary" [routerLink]="['/teams', t._id]">View Details</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div class="footerCorporate" data-script="pl_footer" data-widget="footer-corporate">
    <div class="wrapper col-12">
        <div class="official">
            <a href="/" class="footerCorporate__logo-container">
                <img class="footerCorporate__logo" src="https://www.premierleague.com/resources/rebrand/v7.142.3/i/elements/pl-logo-full.svg" alt="Premier League">
            </a>
        </div>
    </div>
  </div>
  
  