<div *ngIf="auth.user$ | async as user" class="profile-container">
    <h2>Profile</h2>
    <ul class="user-details">
      <li>
        <img *ngIf="user.picture" [src]="user.picture" alt="Profile Picture" class="profile-picture" />
      </li>
      <li>{{user.email}}</li>
    </ul>
    <a mat-raised-button routerLink="/home">
      <mat-icon>security</mat-icon>
      Admin Portal
    </a>
  </div>
  
  <div class="footerCorporate" data-script="pl_footer" data-widget="footer-corporate">
    <div class="wrapper col-12">
        <div class="official">
            <a href="/" class="footerCorporate__logo-container">
                <img class="footerCorporate__logo" src="https://www.premierleague.com/resources/rebrand/v7.142.3/i/elements/pl-logo-full.svg" alt="Premier League">
            </a>
        </div>
    </div>
  </div>